
<div class="container image_container" id="post-{{id}}" onclick="window.location='/post/{{id}}';">
    <div class="major-image">
        <img class="imageReal" src="{{thumbnail}}" alt="Missing Image">
    <div class="major-image text-container">
    <div class="major-image-header" id="major-image-header">
    <a class="imageText major-image-title" id="photoTitle">{{title}}</a>
    </div>
    <span class="imageText upload-date" id="date">{{created}}</span>
    </div>
    </div>
</div>